*,
*::before,
*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 200;
}
a{
	color: #fff;
	text-decoration: none;
	border-bottom: solid 1px rgb(255,100,100);
}

html{
	background-color: hsl(355, 100%, 40%);
	font-size: 62.5%;
}
body{
	font-family: 'Myriad Set Pro', 'Myriad', 'Helvetica Neue', sans-serif;
	font-weight: 200;
	color: #fff;
}
em{
	text-decoration: underline;
	text-transform: uppercase;
	font-style: normal;
}

header{
	text-align: center;
}
	.logo{
		width: 100%;
		max-width: 600px;
	}
	.instructions{
		font-size: 1.8rem;
		margin: -90px auto 4em;
		padding: 0 1em;
		max-width: 30em;
	}

.haikus{
	font-size: 2.4rem;
	position: relative;
	margin: 0 auto 5em;
	padding: 0;
	text-align: center;
}
h1{
	font-size: 1.5em;
	padding: 1em;
	background-color: rgba(0,0,0,0.2);
}
.haiku{
	padding: 2.5em 1em;
	line-height: 1.5;
}
.haiku + .haiku{
	border-top: dotted 1px rgba(255,255,255,.5);
}


@media screen and (max-width: 768px){
	.haikus{
		
	}
}
@media screen and (max-width: 600px){
	.instructions{
		margin: -35vw auto 3em;
	}
}
@media screen and (max-width: 450px){
	.haikus{
		font-size: 1.8rem;
	}
}

@media screen and (max-device-width: 415px){
	.instructions,
	.haiku,
	h1{
		font-weight: 400;
	}
}